# Advanced Numbers

### Hexadecimal

Using the function `hex()` you can convert numbers into a [hexadecimal](https://en.wikipedia.org/wiki/Hexadecimal) format :

In [18]:
hex(19)

'0x13'

In [25]:
hex(46)

'0x2e'

In [20]:
hex(-24)

'-0x18'

In [23]:
hex(24)

'0x18'

### Binary

Using the function `bin()` you can convert numbers into their binary format.

In [26]:
bin(1234)

'0b10011010010'

In [28]:
bin(-37)

'-0b100101'

In [29]:
bin(37)

'0b100101'

In [32]:
bin(512)

'0b1000000000'

### Exponentials

The function `pow()` takes 2 arguments, equivalent to x^y. With 3 arguments it is equivalent to (x^y)%z, but may be more efficient for long integers.

In [33]:
pow(3,4)

81

In [34]:
pow(3,4,6)

# (3^4)%6 = 81%6 = 3

3

### Absolute Value

The function `abs()` returns the absolute value of a number. The argument may be an integer or a floating point number.

If the argument is a complex number, its magnitude is returned.

In [35]:
abs(-3.14)

3.14

In [36]:
abs(-3)

3

In [40]:
abs(3+4j)    # complex number

5.0

### Round

The function `round()` will round a number to a given precision in decimal digits (default 0 digits). It does not convert integers to floats.

In [42]:
round(4,2)

4

In [50]:
round(395, -2)

400

In [73]:
print(round(3.628, 2))

3.63

In [53]:
import math
round(math.pi,2)

3.14

In [54]:
round(3.1415926535, 2)

3.14

Python has a built-in math library that is also useful to play around with in case you are ever in need of some mathematical operations. Explore the documentation -> https://docs.python.org/3/library/math.html

<br>
__________________________________________________________________________________________________________________________________________________

# Advanced Strings

In [106]:
s = 'hello world'

String objects have a variety of methods we can use to save time and add functionality.

### Changing case

We can use methods to capitalize the first word of a string, or change the case of the entire string.

In [77]:
# Capitalize first word in string
s.capitalize()

'Hello world'

In [78]:
s.upper()

'HELLO WORLD'

In [79]:
s.lower()

'hello world'

> Remember, **strings are IMMUTABLE**.<br>None of the above methods change the string in place, they only return modified copies of the original string.

In [107]:
s

'hello world'

In [108]:
s = s.upper()

s

'HELLO WORLD'

****

### Location and Counting

In [85]:
s.count('O') # returns the number of occurrences, without overlap

2

In [86]:
s.count('c')   # returns 0, if not found

0

In [87]:
s.find('L') # returns the starting index position of the first occurence

2

****

### Formatting

The `center()` method allows you to place your string 'centered' between a provided string with a certain length.

In [116]:
s.center(20, "x")

'xxxxHELLO WORLDxxxxx'

In [117]:
s.center(20, " ")

'    HELLO WORLD     '

<br>The `expandtabs()` method will expand tab notations `\t` into spaces :

In [96]:
'hello\thi'.expandtabs()

'hello   hi'

In [97]:
'Hello\tJenni'.expandtabs()

'Hello   Jenni'

_This is same as doing..._

In [118]:
print('Hello\tJenni')

Hello	Jenni

****

### is check methods
These various methods below check if the string is some case.

In [98]:
s = 'hello'

<br>`isalnum()` will return True if all characters in **s** are alphanumeric

In [99]:
s.isalnum()

True

<br>`isalpha()` will return True if all characters in **s** are alphabetic

In [100]:
s.isalpha()

True

<br>`islower()` will return True if all cased characters in **s** are lowercase and there is at least one cased character in **s**, False otherwise.

In [101]:
s.islower()

True

In [123]:
"pRick".islower()

False

<br>`isspace()` will return True if all characters in **s** are whitespace.

In [124]:
s.isspace()

False

In [132]:
print("   ".isspace())

print("\n".isspace())

print("\t".isspace())

True
True
True

<br>`istitle()` will return True if **s** is a title cased string and there is at least one character in **s**, i.e. uppercase characters may only follow uncased characters and lowercase characters only cased ones. It returns False otherwise.

In [134]:
s.istitle()

False

`isupper()` will return True if all cased characters in **s** are uppercase and there is at least one cased character in s, False otherwise.

In [135]:
s.isupper()

True

<br>`endswith()` method is essentially the same as a boolean check on `s[-1]`

In [136]:
s.endswith('o')

False

In [137]:
"world".endswith('d')

True

****

## Built-in RegEx

Strings have some built-in methods that can resemble regular expression operations. We can use `split()` to split the string at a certain element and **return a list** of the results.

We can use `partition()` to **return a tuple** that includes the first occurrence of the separator sandwiched between the first half and the end half.

In [145]:
"hello world".split('e')

['h', 'llo world']

In [154]:
print("macbook".split('o'), '\n')    # seperates at every occurence of letter 'o'

print("hello world".split('l'), '\n')     # seperates at every occurence of letter 'l'

print("calendar".split('a'), '\n')     # seperates at every occurence of letter 'a'

print("song".split('s'))     # if split is done at the 1st letter, the returned list includes an empty string at the index 0.

['macb', '', 'k']

['he', '', 'o wor', 'd']

['c', 'lend', 'r']

['', 'ong']

In [161]:
"hello world".partition('l')

('he', 'l', 'lo world')

In [162]:
"hotihhihihihihi".partition('i')       # seperates at first instance of 'i'

# front--sep--back

('hot', 'i', 'hhihihihihi')

<br>
__________________________________________________________________________________________________________________________________________________

# Advanced Sets

In [163]:
s = set()

### `.add()`

Add elements to a set. Remember, a set won't duplicate elements; it will only present them once (that's why it's called a set!)

In [164]:
s.add(1)

In [165]:
s.add(7)

In [166]:
s

{1, 7}

### `.clear()`
removes all elements from the set

In [167]:
s.clear()

In [168]:
s

set()

### `.copy()`
returns a copy of the set.
> Note it is a copy, so changes to the original don't effect the copy.

In [169]:
s = {1,2,3}
sc = s.copy()

In [170]:
sc

{1, 2, 3}

In [171]:
s

{1, 2, 3}

In [172]:
s.add(8)

s

{1, 2, 3, 8}

In [173]:
sc

{1, 2, 3}

### `.difference()`
difference returns the difference of two or more sets. The syntax is :
`set1.difference(set2)`

In [174]:
s.difference(sc)

{8}

### `.difference_update()`

difference_update syntax is :

`set1.difference_update(set2)`

the method returns set1 after removing elements found in set2.

In [177]:
# defining s1 and s2
s1 = {1,2,3}

s2 = {1,4,5}

In [178]:
s1.difference_update(s2)

In [179]:
s1

{2, 3}

In [180]:
s2

{1, 4, 5}

### `.discard()`

Removes an element from a set if it is a member. If the element is not a member, it does nothing.

In [181]:
s

{1, 2, 3, 8}

In [183]:
s.discard(2)

s

{1, 3, 8}

### `.intersection()` and `.intersection_update()`

Returns the intersection of two or more sets as a new set (i.e. elements that are common to all of the sets).

In [184]:
s1 = {1,2,3}

s2 = {1,2,4}

In [185]:
s1.intersection(s2)

{1, 2}

In [186]:
s1

{1, 2, 3}

`intersection_update` will update a set with the intersection of itself and another.

In [187]:
s1.intersection_update(s2)

In [188]:
s1    # now, 's1' will be updated

{1, 2}

In [189]:
s2

{1, 2, 4}

### `.isdisjoint()`
This method will return True if the 2 sets have a `null` intersection.

In [227]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [228]:
s1.isdisjoint(s2)

False

In [229]:
s1.isdisjoint(s3)

True

In [233]:
s2.isdisjoint(s3)

True

### `.issubset()`

This method reports whether another set contains this set.

In [212]:
s1

{1, 2}

In [213]:
s2

{1, 2, 4}

In [214]:
s1.issubset(s2)

True

### `.issuperset()`

This method will report whether this set contains another set.

In [215]:
s2.issuperset(s1)

True

In [216]:
s1.issuperset(s2)

False

### symmetric_difference and symmetric_update
Return the symmetric difference of two sets as a new set (i.e. all elements that are in exactly one of the sets).

In [217]:
s1

{1, 2}

In [218]:
s2

{1, 2, 4}

In [219]:
s1.symmetric_difference(s2)

{4}

### `.union()`
Returns the union of two sets (i.e. all elements that are in either set.)

In [220]:
s1.union(s2)

{1, 2, 4}

In [222]:
print('s1:', s1)

print('s2:', s2)

s1: {1, 2}
s2: {1, 2, 4}

### `.update()`
Update a set with the union of itself and others.

In [223]:
s1

{1, 2}

In [224]:
s1.update(s2)

In [225]:
s1

{1, 2, 4}

In [226]:
s2

{1, 2, 4}

So, `Set()` data structure is pretty handy to use when needed to compare for unique values. Use it for such scenarios.

<br>
__________________________________________________________________________________________________________________________________________________

# Advanced Dictionaries

### Dictionary Comprehensions

Just like List Comprehensions, Dictionary Data Types also support their own version of comprehension for quick creation. It is not as commonly used as List Comprehensions, but the syntax is :

In [234]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [246]:
{k:v**2 for k,v in zip(['a','b'],range(2))}

{'a': 0, 'b': 1}

In [249]:
# just doing a side-check here of the .zip() which is used above

for i in zip(['a','b'],range(2)):
    print(i)

('a', 0)
('b', 1)

One of the reasons it is not as common is the difficulty in structuring key names that are not based off the values.<br><br>

### Iteration over keys, values, and items

Dictionaries can be iterated over using the `keys()`, `values()` and `items()` methods.<br>For example :

In [252]:
d = {'k1':1,'k2':2}

In [254]:
for k in d.keys():
    print(k)
    print(type(k))
    print('_________________')

k1
<class 'str'>
_________________
k2
<class 'str'>
_________________

In [239]:
for v in d.values():
    print(v)
    print(type(v))
    print('__________________')

1
<class 'int'>
__________________
2
<class 'int'>
__________________

<br>

### Viewing keys, values and items

By themselves the `keys()`, `values()` and `items()` methods return a dictionary view object. This is not a separate list of items. Instead, the view is always tied to the original dictionary.

In [243]:
key_view = d.keys()

key_view

dict_keys(['k1', 'k2'])

In [244]:
d['k3'] = 5

d

{'k1': 1, 'k2': 2, 'k3': 5}

In [245]:
key_view

dict_keys(['k1', 'k2', 'k3'])

<br>
__________________________________________________________________________________________________________________________________________________

# Advanced Lists

In [284]:
ls = [3,6,2,3,8]

### `.append()`
merely appends an element at the end of a given list :

In [266]:
ls.append(4)
ls

[3, 6, 2, 3, 8, 4]

### `.count()`

count() takes in an element and returns the number of times it occurs in given list :

In [267]:
ls.count(10)

0

In [269]:
ls.count(3)

2

### `.extend()`
extends a list by appending elements from the iterable :

In [271]:
x = [1, 2, 3]
print("'x' before => ",x)

x.extend([4, 5])

print("'x' after => ",x)

'x' before =>  [1, 2, 3]
'x' after =>  [1, 2, 3, 4, 5]

In [273]:
x = [1, 2, 3]
print("'x' before => ",x)

x.append([4, 5])

print("'x' after => ",x)

'x' before =>  [1, 2, 3]
'x' after =>  [1, 2, 3, [4, 5]]

> **Note ->**<br><br>`.extend()` : extends a list by appending elements from the iterable<br><br>`.append()` : appends the whole object at end

<br><br>

### `.index()`
it returns the index of whatever element is placed as an argument.

> **Note :** If the the element is not in the list an error is raised.

In [275]:
ls.index(6)

1

In [276]:
ls.index(13)

ValueError: 13 is not in list

### `.insert()`
it takes in 2 arguments: `insert(index, object)`.<br>This method places the object at the index supplied.

In [286]:
ls

[3, 6, 2, 3, 8]

In [287]:
# Place an item at the index 2

ls.insert(2,'inserted')
ls

[3, 6, 'inserted', 2, 3, 8]

### `.pop()`
It "pop" off the last element of a list.

> However, by passing an index position you can remove and return a specific element.

In [288]:
el = ls.pop()
el

8

In [289]:
ls

[3, 6, 'inserted', 2, 3]

In [290]:
ele = ls.pop(2)
ele

'inserted'

In [291]:
ls

[3, 6, 2, 3]

### `.remove()`
The remove( ) method removes the **1st occurrence of a value.**

In [301]:
ls = [3, 6, 'inserted', 2, 3, 8]
ls

[3, 6, 'inserted', 2, 3, 8]

In [302]:
ls.remove('inserted')

ls

[3, 6, 2, 3, 8]

In [325]:
list2 = [1,2,3,4,3]

list2

[1, 2, 3, 4, 3]

In [326]:
list2.remove(3)

list2              # removes only the first occurence of '3'

[1, 2, 4, 3]

### `.reverse()`
It reverses the list.
> reverses the list **in-place** i.e. **affects the list permanently**

In [315]:
print('Before REVERSE')
list2

Before REVERSE

[1, 2, 4, 3]

In [327]:
list2.reverse()

In [328]:
print('After REVERSE')
list2

After REVERSE

[3, 4, 2, 1]

### `.sort()`
It will sort the list in-place.
> • sorts the list **in-place** i.e. **affects the list permanently**.<br><br>• By default, it sorts in **ascending**. It takes an optional argument for **reverse sorting i.e. Descending order**.<br><br>• Note this is different than simply reversing the order of items.

In [322]:
print('before Sort')
ls

before Sort

[2, 3, 3, 6, 8]

In [319]:
ls.sort()

In [323]:
print('after Sort')
ls

after Sort

[2, 3, 3, 6, 8]

In [329]:
list2.sort(reverse = True)    # list2 is descendingly sorted

list2

[4, 3, 2, 1]

In [338]:
strings = ['d','kite','apple','abcd','egg','money','ice','xray','powder']
strings

['d', 'kite', 'apple', 'abcd', 'egg', 'money', 'ice', 'xray', 'powder']

In [339]:
strings.sort()
strings

['abcd', 'apple', 'd', 'egg', 'ice', 'kite', 'money', 'powder', 'xray']

<br>
____________________________________________________________________________________________________________________________________________

## *Some Examples*

**Problem 1: Convert 1024 to binary and hexadecimal representation**

In [344]:
print("binary of 1024 =",bin(1024))

print("hexadecimal of 1024 =",hex(1024))

binary of 1024 = 0b10000000000
hexadecimal of 1024 = 0x400

**Problem 2: Round 5.23222 to two decimal places**

In [345]:
round(5.23222,2)

5.23

**Problem 3: Check if every letter in the string s is lower case**

In [346]:
s = 'hello how are you Nitin, are you going for basletball?'

In [349]:
s.islower()

False

**Problem 4: How many times does the letter 'w' show up in the string below?**

In [350]:
s = 'twywywtwywbwhsjhwuwshshwuwwwjdjdid'

In [351]:
s.count('w')

12

**Problem 5: Find the elements in set1 that are not in set2**.

**Problem 6: Find all elements that are in either set**

In [352]:
set1 = {2,3,1,5,6,8}
set2 = {3,1,7,5,6,8}

In [353]:
set1.difference(set2)     # Problem 5

{2}

In [356]:
set1.union(set2)          # Problem 6

{1, 2, 3, 5, 6, 7, 8}

**Problem 7: Create this dictionary: {0: 0, 1: 1, 2: 8, 3: 27, 4: 64} using a dictionary comprehension.**

In [358]:
{x:x**3 for x in range(5)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

**Problem 8: Reverse the list below :**

list1 = [1,2,3,4]

In [359]:
list1 = [1,2,3,4]

list1.reverse()

list1

[4, 3, 2, 1]

Problem 8: Sort the list below :

list2 = [3,4,2,5,1]

In [361]:
list2 = [3,4,2,5,1]

list2.sort()

list2

[1, 2, 3, 4, 5]